<div class="basket_wrapper">
    <div class="content-headline container">
        <div class="breadCrumbs">
            <div class="breadCrumbs-inner">
                <div class="crumb-page">
                    <a href="#">
                        Главная
                    </a>
                </div>
                <div class="crumb-page current">
                    <a href="#">
                        Межкомнатные двери
                    </a>
                </div>
            </div>
        </div>
        <h1 class="general-title">Корзина</h1>
    </div>
    
    <div class="backet-page">
        <div class="container">
            <div class="basket-top-line">
                <div class="row top-row">
                    <div class="product col-sm-5 col-md-6 col-lg-5">
                        <div class="basket-title product-line">Товар</div>
                    </div>
                    <div class="amount col-sm-3 col-md-2 col-lg-2">
                        <div class="basket-title amount-line">
                            Количество
                        </div>
                    </div>
                    <div class="price col-sm-4 col-md-4 col-lg-5">
                        <div class="basket-title price-line">
                            Стоимость
                        </div>
                    </div>
                </div>
            </div>

            <div class="products">
                <form action="" class="product">
                    <div class="product__label">
                        <div class="product__in-stock">В наличии</div>

                        <div class="product__remove"></div>
                    </div>
                    <div class="row product-row">
                        <div class="col-12 col-sm-5 col-md-6 col-lg-5">
                            <div class="product__info">
                                <div class="image">
                                    <img src="{{ base_path ~ directory }}assets/img/basket-image.png" alt="Маримам Флоренция 3 Манголия">
                                </div>
                                <div class="details">
                                    <a href="#" class="prod_name">
                                        <span>
                                            Маримам Флоренция 3 Манголия
                                        </span>
                                    </a>
                                    <div class="prod_options">
                                        <div class="size">Размер 550 х 1900</div>
                                        <div class="material">
                                            Полотно
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 col-md-2 col-lg-2">
                            <div class="product__amount">
                                <div class="amount-title">Количество</div>
                                <div class="amount_input">
                                    <div class="minus amount-btn"></div>
                                    <input type="text" value="1" name="amount" class="amount-input">
                                    <div class="plus amount-btn"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12  col-sm-4 col-md-4 col-lg-5">
                            <div class="product__price">
                                <div class="price-title">Стоимость</div>
                                <div class="price-value">
                                    10 806 <span class="rouble">₽</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form action="" class="product">
                    <div class="product__label">
                        <div class="product__in-stock">В наличии</div>

                        <div class="product__remove"></div>
                    </div>
                    <div class="row product-row">
                        <div class="col-12 col-sm-5 col-md-6 col-lg-5">
                            <div class="product__info">
                                <div class="image">
                                    <img src="{{ base_path ~ directory }}assets/img/basket-image.png" alt="Маримам Флоренция 3 Манголия">
                                </div>
                                <div class="details">
                                    <a href="#" class="prod_name">
                                        <span>
                                            Маримам Флоренция 3 Манголия
                                        </span>
                                    </a>
                                    <div class="prod_options">
                                        <div class="size">Размер 550 х 1900</div>
                                        <div class="material">
                                            Полотно
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 col-md-2 col-lg-2">
                            <div class="product__amount">
                                <div class="amount-title">Количество</div>
                                <div class="amount_input">
                                    <div class="minus amount-btn"></div>
                                    <input type="text" value="1" name="amount" class="amount-input">
                                    <div class="plus amount-btn"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12  col-sm-4 col-md-4 col-lg-5">
                            <div class="product__price">
                                <div class="price-title">Стоимость</div>
                                <div class="price-value">
                                    10 806 <span class="rouble">₽</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form action="" class="product">
                    <div class="product__label">
                        <div class="product__in-stock">В наличии</div>

                        <div class="product__remove"></div>
                    </div>
                    <div class="row product-row">
                        <div class="col-12 col-sm-5 col-md-6 col-lg-5">
                            <div class="product__info">
                                <div class="image">
                                    <img src="{{ base_path ~ directory }}assets/img/basket-image.png" alt="Маримам Флоренция 3 Манголия">
                                </div>
                                <div class="details">
                                    <a href="#" class="prod_name">
                                        <span>
                                            Маримам Флоренция 3 Манголия
                                        </span>
                                    </a>
                                    <div class="prod_options">
                                        <div class="size">Размер 550 х 1900</div>
                                        <div class="material">
                                            Полотно
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 col-md-2 col-lg-2">
                            <div class="product__amount">
                                <div class="amount-title">Количество</div>
                                <div class="amount_input">
                                    <div class="minus amount-btn"></div>
                                    <input type="text" value="1" name="amount" class="amount-input">
                                    <div class="plus amount-btn"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12  col-sm-4 col-md-4 col-lg-5">
                            <div class="product__price">
                                <div class="price-title">Стоимость</div>
                                <div class="price-value">
                                    10 806 <span class="rouble">₽</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container basket-form">
            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="basket-form__acount">
                        <div class="acount-title">
                            Расчёт
                        </div>
                        <div class="acount-list">
                            <div class="basket-amount basket-item">
                                <div class="basket-title">Товаров:</div>
                                <div class="basket-value">3</div>
                            </div>
                            <div class="basket-sales basket-item">
                                <div class="basket-title">
                                    Скидка с купона:
                                </div>
                                <div class="basket-value">
                                    3 200 <span class="rouble">₽</span>
                                </div>
                            </div>
                        </div>

                        <div class="basket-total-price">
                            <div class="total-price-title">Сумма:</div>
                            <div class="total-price">
                                10 806 <span class="rouble">₽</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-8">
                    <div class="basket-form__order">
                        <div class="order-form-title">Оформление заказа</div>
                        <form action="" class="basket-form__order-form">
                            <div class="user-info">
                                <div class="form-field field-text">
                                    <div class="field-title">Ваше имя <span class="required-mark">*</span></div>
                                    <input type="text" value="" name="user_name">
                                </div>
                                <div class="form-field field-text">
                                    <div class="field-title">Телефон <span class="required-mark">*</span></div>
                                    <input type="text" value="" name="user_phone">
                                </div>
                                <div class="form-field field-textarea">
                                    <div class="field-title">Комментарий</div>
                                    <textarea name="user_comment"></textarea>
                                </div>
                            </div>
                            <div class="order-info">
                                <div class="form-field field-radio">
                                    <div class="field-headline">Способ оплаты</div>
                                    <label for="cash" class="field-label">
                                        <input type="radio" name="payment" id="cash" value="Наличными при получении">
                                        <span class="radio_button"></span>
                                        <div class="field-text">Наличными при получении</div>
                                    </label>

                                    <label for="card" class="field-label">
                                        <input type="radio" name="payment" id="card" value="Картой при получении">
                                        <span class="radio_button"></span>
                                        <div class="field-text">Картой при получении</div>
                                    </label>

                                    <label for="cashless" class="field-label">
                                        <input type="radio" name="payment" id="cashless" value="Безналичная оплата по счету">
                                        <span class="radio_button"></span>
                                        <div class="field-text">Безналичная оплата по счету</div>
                                    </label>
                                </div>

                                <div class="form-field field-radio">
                                    <div class="field-headline">Доставка</div>
                                    <label for="pickup" class="field-label">
                                        <input type="radio" name="delivery" id="pickup" value="Заберу сам со склада">
                                        <span class="radio_button"></span>
                                        <div class="field-text">Заберу сам со склада</div>
                                    </label>

                                    <label for="capital" class="field-label">
                                        <input type="radio" name="delivery" id="capital" value="Нужна доставка по Москве или МО">
                                        <span class="radio_button"></span>
                                        <div class="field-text">Нужна доставка по Москве или МО</div>
                                    </label>

                                    <label for="regions" class="field-label">
                                        <input type="radio" name="delivery" id="regions" value="Нужна доставка в регионы по России">
                                        <span class="radio_button"></span>
                                        <div class="field-text">Нужна доставка в регионы по России</div>
                                    </label>
                                </div>

                                <div class="form-field field-checkbox">
                                    <label for="setup" class="field-label">
                                        <input type="checkbox" name="setup" id="setup" value="Нужна установка">
                                        <span class="checkbox"></span>
                                        <span class="field-text">Нужна установка</span>
                                    </label>
                                    <div class="field-notice">
                                        Стоимость установки одной двери — от 2 200 Р. <br>
                                        Точную сумму вам сообщит мастер при установке.
                                    </div>
                                </div>
                            </div>

                            <div class="submit_wrapper">
                                <div class="form-field field-submit">
                                    <button type="submit">Оформить заказ</button>
                                </div>
                                <div class="form-field field-checkbox">
                                    <label for="agreement" class="field-label">
                                        <input type="checkbox" name="agreement" id="agreement" value="Согласен">
                                        <span class="checkbox"></span>
                                        <span class="field-text">
                                            Соглашаюсь с <a href="#">Политикой обработки персональных данных</a>
                                        </span>
                                    </label>
                                    <div class="field-notice">
                                        Заказ будет отправлен менеджеру, после чего он свяжется с вами.<br>
                                        Оформление заказа через корзину не является договором <a href="#">оферты</a>.
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>