<div class="site-wrapepr">
  <div class="site-inner">
    <header class="header">
      <div class="header-top">
        <div class="header__company">
          <div class="burger-btn"></div>
          <div class="header__company-text">
            <a href="#" class="logo">
              <img src="..\assets\img\logo.svg" alt="Bravo Doors">
            </a>
            <div class="description">
              Интернет-магазин дверей Браво
            </div>
          </div>
        </div>
        <div class="header__content">
          
          <div class="header__content-adress">
            <div class="dropdown header__content-dropdown">
              <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="city_text">Москва</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Санкт-Питербург</a>
                <a class="dropdown-item" href="#">Новосибирск</a>
              </div>
            </div>
          </div>

          <div class="header__content-phones">
            <div class="phones-button"></div>
            <div class="popuping-content">
              <div class="phone-title">
                Круглосуточная горячая линия
              </div>
              
              <div class="phone-numbers">
                <a href="tel:84951543831">8 (495) 154-38-31</a>
              </div>
              
              <div class="callback-button" data-toggle="modal" data-target="#exampleModalCenter">
                Вызвать замерщика
              </div>
            </div>
          </div>

          <div class="header__content-buttons">
            <div class="favourite">
              <!-- <div class="prod-count">3</div> --> 
            </div>
            <div class="cart-button unactive">
              <div class="prod-count">9</div>
              Корзина
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <nav class="header__navigation">
          <div class="header__navigation-buttons">
            <a href="#" class="help-btn">Экспресс помощь</a>
            <a href="#" class="stocks-btn">Акции</a>
          </div>

          <div class="header__navigation-menu">
            <div class="left-part">
              <ul class="left-menu">
                <li class="menu-item">
                  <a href="#">Входные двери</a>
                </li>
                <li class="menu-item">
                  <a href="#">Межкомнатные двери</a>
                </li>
                <li class="menu-item">
                  <a href="#">Фурнитура</a>
                </li>
              </ul>
          </div>
            <div class="right-part">
              <ul class="right-menu">
                <li class="menu-item">
                  <a href="#">Бесплатная доставка и оплата</a>
                </li>
                <li class="menu-item">
                  <a href="#">Установка дверей</a>
                </li>
              </ul>
              <button class="search_button"></button>
            </div>
          </div>
        </nav>
      </div>
    </header>